*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.idea
.vscode
*.sqlite3
db.sqlite3
staticfiles/
media/
*.mo
*.pot
local_settings.py
.env
.DS_Store

